{% extends "base.html" %}
{% load static %}

{% block content %}
        <title>프로필 수정</title>
        <link rel="stylesheet" type="text/css" href="{% static 'accounts/about.css' %}">

    <style>
        .change {
            background-color: #daf1de;
            padding: 10px;
            margin-left: 20px;
            margin-right: 20px;
        }

    </style>
    <body>
    <div class="change">
        {{ form.media }}
    <form action="" method="POST">
    {% csrf_token %}
    {% for field in form %}
          {%if field.label != _('이메일') %}
                <div class="content_container">

                {{ field.errors }}
                {{ field.label_tag }}<br> {{ field }}

                </div>
        {% endif %}
    {% endfor %}
    </div>




<div class="button_container">
    <button type="submit" class="btn btn-primary btn-lg">수정</button>
    </div>
    </form>
{% endblock %}
</body>
