
{% load myfilters %}
{% load static %}

<head>
    <title>Login</title>
    <meta charset="utf-8">

{#<form action="" method="post">#}
{#    {% csrf_token %}#}
{#    <table>#}
{#        {{ form.as_table }}#}
{#    </table>#}
{#    <input type="submit" />#}
{#</form>#}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "accounts/login_form_styles.css" %}"/>
    <title>JOBSSUL</title>
</head>


<body>

<div class="container">
{% if messages %}
  <div class="container">
      {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
            {{ message.message }}
          </div>
      {% endfor %}
  </div>
{% endif %}


<form action="" method="post">
    {% csrf_token %}
    <div class="login-form">
        {{ form.email|addcss:'text-field'}}
        {{ form.password |addcss:'text-field'}}
        <button class="btn btn-primary submit-btn">로그인</button>
        <div class="links">
      <a href="#">비밀번호를 잊어버리셨나요?</a>
    </div>
    </div>

</form>
</div>
</body>
