<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>JOBSSUL</title>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
      <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
  <style>
      @import url('https://fonts.googleapis.com/css?family=Stylish');
      .main_header{
          font-family: 'Stylish', sans-serif;
          display: flex;
          justify-content: center;
          margin-left: 350px;
          margin-right: 350px;
          text-align: center;
          font-size: 50px;
          font-weight: 400;
          background-color: pink;
          padding-top: 100px;
          padding-bottom:100px;
      }

  </style>

  </head>

  <body>

{% include 'header.html' %}

  {% load static %}
<div class="text-center">
    <img src="{% static "main/banner.png" %}" class="rounded img-fluid" alt="Responsive image" />
</div>
      <h3 class="main_header">모든 알바 후기가 모이는 곳</h3>


  {% if messages %}
      <div class="container">
          {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message.message }}
              </div>
          {% endfor %}
      </div>
  {% endif %}


  {% block content %}

  {% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  </body>
</html>