{% load static %}

<!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js" integrity="sha384-vhJnz1OVIdLktyixHY4Uk3OHEwdQqPppqYR8+5mjsauETgLOcEynD9oPHhhz18Nw" crossorigin="anonymous"></script>


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" integrity="sha384-PmY9l28YgO4JwMKbTvgaS7XNZJ30MK9FAZjjzXtlqyZCqBY6X6bXIkM++IkyinN+" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap-theme.min.css" integrity="sha384-jzngWsPS6op3fgRCDTESqrEJwRKck+CILhJVO5VvaAZCq8JYf8HsR/HPpBOOPZfR" crossorigin="anonymous">



<nav class="navbar navbar-default" style="background-color: #FECDCF">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="main:main">
          <img src={% static "main/logo.png"%} width="119" height="44" alt="" style="padding: 0;">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">공지썰 <span class="sr-only">(current)</span></a></li>
        <li><a href="#">건의썰</a></li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">지역별 <span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <li><a href="#">강남/서초/양재</a></li>
            <li><a href="#">잠실/송파/강동</a></li>
            <li><a href="#">동작/관악/사당</a></li>
            <li><a href="#">마포/서대문/은평</a></li>
            <li><a href="#">종로/중구/용산</a></li>
            <li><a href="#">노원/도봉/강북/성북</a></li>
            <li><a href="#">광진/성동/중랑/동대문</a></li>
            <li><a href="#">영등포/구로/신도림</a></li>
            <li><a href="#">강서/금천/양천</a></li>
          </ul>
        </li>


        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">직종별 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">전체</a></li>
            <li><a href="#">외식/음료</a></li>
            <li><a href="#">유통/판매</a></li>
            <li><a href="#">문화/여가/생활</a></li>
            <li><a href="#">서비스</a></li>
            <li><a href="#">사무직</a></li>
            <li><a href="#">고객상담/리서치/영업</a></li>
            <li><a href="#">생산/건설/노무</a></li>
            <li><a href="#">IT/컴퓨터</a></li>
            <li><a href="#">교육/강사</a></li>
            <li><a href="#">디자인</a></li>
            <li><a href="#">미디어</a></li>
            <li><a href="#">운전/배달</a></li>
            <li><a href="#">병원/간호/연구</a></li>
          </ul>
        </li>


        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">시급별 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">전체</a></li>
            <li><a href="#">7500~9000원</a></li>
            <li><a href="#">9000~10500원</a></li>
            <li><a href="#">10500원 이상</a></li>
          </ul>
        </li>
      </ul>

      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        {% if not user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="{% url "accounts:signup" %}">회원가입</a></li>
            <li class="nav=item"><a class="nav-link" href="{% url "accounts:login" %}?next={{ request.path }}">로그인</a></li>
        {% else %}
        <li class="nav-item"><a class="nav-link" href="{% url "accounts:user_profile" %}">마이페이지</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url "accounts:logout" %}?next={{ request.path }}">로그아웃</a></li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>