{% extends 'base.html' %}
{% load myfilters %}
{% block content %}

    <style>
    .create{
        @import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
        font-family: 'Jeju Gothic', sans-serif;
        font-size: 20px;
        margin-top: 100px;
        margin-left: 100px;
        margin-right :100px;
        border: 3px solid beige;
    }

        .button_container{
            text-align: right;
            padding-right: 50px;
            margin-top: 15px;
        }

        .content_container{
            {% comment %}background-color: beige;{% endcomment %}
            padding: 3px 10px 15px 10px;
            border-bottom: 2px dashed beige;
        }


    </style>

{{ form.media }}
<form class="create" method="POST" action="" id="form">
    {% csrf_token %}
{% for field in form %}
    <div class="content_container">
        {{ field.errors }}
        {{ field.label_tag }}<br> {{ field |addcss:'post_category'}}
        {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
{% endfor %}
<div class="button_container">
    <button type="submit" class="btn btn-primary btn-lg">생성</button>
</form>


{% endblock %}