{% extends 'base.html' %}

{% block content %}

<style>
    .post_category{
        @import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
        font-family: 'Jeju Gothic', sans-serif;
        font-size: 20px;
        margin-left: 50px;
    }

        .button_container{
            text-align: right;
            padding-right: 50px;
        }

        .content_container{
            background-color: beige;
            margin-left: 50px;
            margin-right: 50px;
            padding-top: 3px;
            padding-bottom: 15px;
        }
    .main_button_container{
        text-align: center;
        margin-bottom: 50px;
    }
</style>

<div class="content_container">
    <p class="post_category">작성자: {{ post.author.nickname }}</p>
    <p class="post_category">제목: <span>{{ post.title }}</span></p>
    <p class="post_category">내용: </p>
    <textarea rows="15" cols="150" class="post_category">{{ post.content }}</textarea>
    <p class="post_category">시급: {{ post.payment }}</p>
    <p class="post_category">지점: {{ post.workplace }}</p>
    <p class="post_category">별점: {{ post.recommend }}</p>
    <p class="post_category">직종: {{ post.work_type }}</p>
</div>

<div class="button_container">
<a href="{% url 'main:edit' post.pk %}" class="btn btn-warning btn btn-primary btn-lg">게시글 수정</a>
<a href="{% url 'main:delete' post.pk %}" class="btn btn-danger btn btn-primary btn-lg">게시글 삭제</a>
</div>

<div id="like-section">
    {% include 'main/like_section.html' %}
</div>

<div class="main-comment-section" style="margin-left: 5%;">
    <div class="container-fluid mt-2">
        <div class="form-group row">
            <form method="post">
                {% csrf_token %}
                {{ comment_form.as_p }}
                {% if request.user.is_authenticated %}
                    <input type="submit" value="댓글 쓰기" class="btn btn-outline-success">
                {% else %}
                    <input type="submit" value="댓글 쓰기" class="btn btn-outline-success" disabled>
                {% endif %}
            </form>
        </div>
    </div>
    <div style="font-size: 25px; font-weight: bold; margin-bottom: 10px;">{{ comments.count }}개의 댓글</div>
    {% for comment in comments %}
    <blockquote class="blockquote">
        <div><small>{{ comment.updated_at}}</small></div>
        <div><strong>{{ comment.author.nickname}}</strong></div>
        <p>{{ comment.message }}</p>
        {% if comment.author == request.user %}
            <a href="{{ comment.get_edit_url }}">
                수정
            </a>
            <a href="{{ comment.get_delete_url }}" class="text-danger">
                삭제
            </a>
            <button type="button" name="button" class="reply-btn btn btn-outline-dark btn-sm ml-2">대댓글</button>
        {% endif %}
    </blockquote>

    <div class="replied-comments container mt-2" style="display:none;">
        {% for reply in comment.replies.all %}
        <blockquote class="blockquote">
            <div>{{ reply.updated_at}}</div>
            <div><strong>{{ reply.author.nickname}}</strong></div>
            <p>{{ reply.message }}</p>
            {% if reply.author == request.user %}
                <a href="{{ reply.get_edit_url }}">
                    수정
                </a>
                <a href="{{ reply.get_delete_url }}" class="text-danger">
                    삭제
                </a>
            {% endif %}
        </blockquote>
        {% endfor %}
        <div class="form-group row">
             <form method="post">
                 {% csrf_token %}
                <input type="hidden" name="comment_id" value="{{ comment.id }}">
                 {{ comment_form.as_p }}
                 {% if request.user.is_authenticated %}
                     <input type="submit" value="Submit" class="btn btn-outline-success">
                 {% else %}
                    <input type="submit" value="Submit" class="btn btn-outline-success" disabled>
                 {% endif %}
             </form>
        </div>
    </div>
    {% endfor %}
</div>
<div class="main_button_container">
    <a href="{% url "main:main" %}" class="btn btn-dark btn btn-primary btn-lg">메인으로 돌아가기</a>
</div>
{% endblock %}