{% extends 'base.html' %}

{% block content %}
<p>제목: {{ post.title }}</p>
    <p>내용: {{ post.content }}</p>
    <p>시급: {{ post.payment }}</p>
    <p>지점: {{ post.workplace }}</p>
    <p>별점: {{ post.recommend }}</p>
    <p>직종: {{ post.work_type }}</p>



    <h3>Comments</h3>
    <ul>
    {% for comment in post.comment_set.all %}
        <li>
            <div>{{ comment.updated_at}}</div>
            <div><strong>{{ comment.author}}</strong></div>
            <p>{{ comment.message }}</p>
            comment:{{ comment.author.id }}
            request: {{ request.user.id }}
            {% if comment.author == request.user %}
                <a href="{{ comment.get_edit_url }}">
                    수정
                </a>
                <a href="{{ comment.get_delete_url }}" class="text-danger">
                    삭제
                </a>
            {% endif %}

        </li>
    {% endfor %}
    </ul>

    <div class="panel-footer">
        <a href="{% url "main:comment_new" post.pk %}" class="btn btn-primary">댓글쓰기</a>
    </div>

    <a href="{% url "main:main" %}">메인으로 돌아가기</a>
{% endblock %}