{% extends 'base.html' %}

{% block content %}
<style>
   @font-face{
    src: url("../../static/font/BinggraeTaom-Bold.otf");
    font-family: "Taom";
    }

.button_container{
    text-align : center;
    margin-top: 100px;
    background-color: #daf1de;
    padding-top: 100px;
    padding-bottom: 100px;
}

.boxes {
    display: inline-block;
}

#box{
    display: inline-block;
    margin: 10px 40px;
    width:400px;
    height: 480px;
    background-color: #fadee1;
    {#box-shadow: #9b9b9b;#}
}

.link{
    color: black;
    font-family: 'Taom', sans-serif;
    display: block;
    background-color: white;
    border-bottom: 5px solid pink;
    font-size: 25px;
}

.link:hover{
    font-weight: 400;
    border-bottom: 5px solid pink;
    text-decoration: none;
}


#recommend_star{
        height: 16px;
}

#like {
    height: 16px;
}

.body {
    background-color: white;
}

.to_main_button_container{
    text-align :center;
    margin-top: 50px;
    margin-bottom: 50px;
}


.post_list_container{
    height: 433.5px;
    overflow: hidden;
}

</style>

{% load static %}


    <div class="button_container">
        <div class="boxes">
            <div id="box">
                <a href="{% url 'main:post' %}" class="link">최신 잡썰</a>

                <div class="post_list_container">
                    <table class="table table-bordered table-hover limit_rows">
    {#                <thead class = "thread-dark head">#}
    {#                    <tr>#}
    {#                        <th scope="col">제목</th>#}
    {#                        <th scope="col">별점</th>#}
    {#                    </tr>#}
    {#                </thead>#}

                    <tbody class="body">
                        {% for post in latest %}
                            <tr>
                              <td><a href="{% url "main:detail" post.id %}" class="category">{{ post.title }}</a></td>
                              <td><img id=recommend_star src="{% static 'main/star.jpg' %}"> {{ post.recommend }}</td>
                                <td>{{ post.updated_at|date:"y-m-d"}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>

            <div id="box">
                <a href="{% url 'main:post' %}" class="link">인기 잡썰</a>

                <div class="post_list_container">
                    <table class="table table-bordered table-hover">
                    <tbody class="body">
                        {% for post in liked %}
                            {% if post.total_likes >= 1 %}
                                <tr>
                                    <td><a href="{% url "main:detail" post.id %}" class="category">{{ post.title }}</a></td>
                                    <td class="td"><img id="like" src="{% static 'main/like.png' %}"> {{ post.total_likes }}</td>
                                    <td><img id=recommend_star src="{% static 'main/star.jpg' %}"> {{ post.recommend }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>

{#            <div id="box">#}
{#                <a href="{% url 'main:best_post' %}" class="link">인기 잡썰</a>#}
{#                {% for post in liked %}#}
{#                    {% if post.total_likes >= 1 %}#}
{#                        <table class="table table-bordered table-hover">#}
{#                              <tbody>#}
{#                                <tr>#}
{#                                  <td class="td">#}
{#                                     <a href="{% url 'main:detail' post.id  %}" class="category">{{ post.title }}</a></td>#}
{#                                    <td class="td"><img id="like" src="{% static 'main/like.png' %}"> {{ post.total_likes }}</td>#}
{#                                  <td class="td"><img id=recommend_star src="{% static 'main/star.jpg' %}"> {{ post.recommend }}</td>#}
{#                                </tr>#}
{#                              </tbody>#}
{#                        </table>#}
{#                    {% endif %}#}
{#                {% endfor %}#}
{#            </div>#}

            <div id="box">
                <a href="#" class="link">추천 잡썰</a>
                <div class="post_list_container">

                            <table class="table table-bordered table-hover limit_rows">
                                {% for post in recommend_posts %}
                                <tbody class="body">
                                        <tr>
                                            <td><a href="{% url "main:detail" post.id %}" class="category">{{ post.title }}</a></td>
                                            <td><img id=recommend_star src="{% static 'main/star.jpg' %}"> {{ post.recommend }}</td>
                                            <td>{{ post.updated_at|date:"y-m-d"}}</td>
                                        </tr>
                                </tbody>
                                {% endfor %}
                            </table>
                </div>
            </div>
        </div>
        <div class="to_main_button_container">
        <a href="{% url 'main:post' %}" class="btn btn-dark btn-lg">더 많은 잡썰 보러가기</a>

    </div>
    </div>



{% endblock %}
